<table>
    <tr class="header-row">
        <th (click)="sort('name')" class="sortable">Name</th>
        <th (click)="sort('type')" class="sortable">Type</th>
        <th>Operational</th>
        <th>Orbit Type</th>
        <th>Launch Date</th>
    </tr>
    <tr *ngFor="let loopSatellites of satellites" id="satelliteData">
        <td>{{loopSatellites.name}}</td>
        <td>[class.warning]="alertDebris" {{loopSatellites.type}}</td>
        <td>{{loopSatellites.operational}}</td>
        <td>{{loopSatellites.orbitType}}</td>
        <td>{{loopSatellites.launchDate}}</td>
    </tr>
   
</table>

<!-- TODO 2b: use *ngFor to display satellite data in the table -->
<!-- TODO 3b: add style directive to conditionally highlight satellite type -->

